.footer {
  padding-top: 4rem;
  background: whitesmoke;
  .wrap {
    width: 100%;
    max-width: 135rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    .row {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 2rem;
      @media (max-width: 1000px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }
      .column {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 1.6rem;
          color: black;
          margin-bottom: 1rem;
          font-weight: bold;
        }

        .links {
          margin: 0 auto;
          display: inline-flex;
          width: 100%;
          justify-content: space-between;
        }

        a {
          color: rgb(88, 88, 88);
          margin-bottom: 1rem;
          font-size: 1.2rem;
          text-decoration: none;
          &:hover {
            color: #ff9c00;
            transition: 200ms ease-in;
          }

          svg {
            height: 2rem;
            width: 2rem;
          }
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}
